<html>
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <title>{% block title %}{{store.name}}{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <meta name="description" content="{{ store.name }} - Best online shop">
    <meta name="keywords" content="shop, ecommerce, {{store.name}}">
    <meta name="author" content="BMHcode">
    <meta name="robots" content="index, follow">

    <!-- Open Graph -->
    <meta property="og:title" content="{{store.name}}">
    <meta property="og:description" content="Best marketplace for products">
    <meta property="og:type" content="website">

    <!-- Icons -->
    <link rel="apple-touch-icon" href="{% static 'app/img/apple-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}">

    <!-- Google Fonts (optimized) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/custom.css' %}">

    <!-- Slick -->
    <link rel="stylesheet" href="{% static 'app/css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/slick-theme.css' %}">

</head>

<body>


    <!-- ================= TOP NAV ================= -->

    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">

                <div>
                    <i class="fa fa-envelope mx-2"></i>

                    <a class="text-light text-decoration-none" href="mailto:{{store.email}}">
                        {{store.email}}
                    </a>

                    <i class="fa fa-phone mx-2"></i>

                    <a class="text-light text-decoration-none" href="tel:{{store.phone}}">
                        {{store.phone}}
                    </a>
                </div>

                <div>
                    <a class="text-light" target="_blank" href="https://facebook.com">
                        <i class="fab fa-facebook-f me-2"></i>
                    </a>

                    <a class="text-light" target="_blank" href="https://instagram.com">
                        <i class="fab fa-instagram me-2"></i>
                    </a>

                    <a class="text-light" target="_blank" href="https://twitter.com">
                        <i class="fab fa-twitter me-2"></i>
                    </a>

                    <a class="text-light" target="_blank" href="https://linkedin.com">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>

            </div>
        </div>
    </nav>


    <!-- ================= HEADER ================= -->

    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top">

        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h2" href="{% url 'index' %}">
                {{store.name}}
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="main_nav">

                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'plan' %}">Plan</a>
                    </li>

                </ul>


                <div class="d-flex align-items-center">

                    {% if user.is_authenticated %}

                    <a class="nav-icon position-relative me-3" href="{% url 'wishlist' %}">

                        <i class="fa fa-heart text-dark"></i>

                        <span class="badge bg-light text-dark position-absolute top-0 start-100 translate-middle">
                            {{nbr_wishlist}}
                        </span>

                    </a>


                    <li class="nav-item dropdown list-unstyled">

                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                            {{user.username}}
                        </a>

                        <ul class="dropdown-menu">

                            <li>
                                <a class="dropdown-item" href="{% url 'myproducts' %}">
                                    <i class="fa fa-user-tie me-2"></i> Store Owner
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'update_profile' %}">
                                    <i class="fa fa-user me-2"></i> My Profile
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a class="dropdown-item" href="{% url 'update_store' %}">
                                    <i class="fa fa-cog me-2"></i> Store Settings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'brands' %}">
                                    <i class="fa fa-tags me-2"></i> Brands
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>

                                <form id="logout-form" action="{% url 'logout' %}" method="post">

                                    {% csrf_token %}

                                    <button class="dropdown-item">
                                        <i class="fa fa-sign-out-alt me-2"></i>Logout
                                    </button>

                                </form>

                            </li>

                        </ul>

                    </li>

                    {% else %}

                    <a class="nav-link me-3" href="{% url 'login' %}">
                        <i class="fa fa-user"></i> Login
                    </a>

                    <a class="nav-link" href="{% url 'signup' %}">
                        <i class="fa fa-user-plus"></i> Sign Up
                    </a>

                    {% endif %}

                </div>

            </div>

        </div>

    </nav>


    <!-- ================= BODY ================= -->

    {% block body %}
    {% endblock %}


    <!-- ================= FOOTER ================= -->

    <footer class="bg-dark text-light mt-5">

        <div class="container py-5">

            <div class="row">


                <div class="col-md-4">

                    <h2 class="text-success">{{store.name}}</h2>

                    <ul class="list-unstyled">

                        <li>
                            <i class="fa fa-map-marker-alt"></i>
                            {{store.address}}
                        </li>

                        <li>
                            <i class="fa fa-phone"></i>
                            <a class="text-light text-decoration-none" href="tel:{{store.phone}}">
                                {{store.phone}}
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a class="text-light text-decoration-none" href="mailto:{{store.email}}">
                                {{store.email}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Categories</h5>
                    <ul class="list-unstyled">
                        {% for category in categories|slice:":5" %}
                        <li>
                            <a class="text-light text-decoration-none"
                                href="{% url 'shop' %}?cat_filter={{category.name}}">
                                {{category.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Pages</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-light text-decoration-none" href="{% url 'index' %}">Home</a></li>
                        <li><a class="text-light text-decoration-none" href="{% url 'shop' %}">Shop</a></li>
                        <li><a class="text-light text-decoration-none" href="{% url 'about' %}">About</a></li>
                        <li><a class="text-light text-decoration-none" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="text-center">
                Copyright © {% now "Y" %}
                <a class="text-success" href="https://bmhcode.netlify.app/" target="_blank">
                    BMHcode
                </a>
            </div>
        </div>
    </footer>

    <!-- ================= JS ================= -->

    <script src="{% static 'app/js/jquery-1.11.0.min.js' %}" defer></script>
    <script src="{% static 'app/js/jquery-migrate-1.2.1.min.js' %}" defer></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'app/js/templatemo.js' %}" defer></script>
    <script src="{% static 'app/js/custom.js' %}" defer></script>


</body>

</html>