{% extends "app/base.html" %}
{% load static %}
{% load humanize %} <!-- لإستظهار وقت إضافة المنتج -->
<!--
TemplateMo 559 Zay Shop
https://templatemo.com/tm-559-zay-shop
-->

{% block title %}
{{ mystore.name }}
{% endblock title %}

{% block body %}

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{ mystore.imageURL_1 }}" alt="image 01" loading="lazy">
                        <!-- image 800x800-->
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>{{ mystore.title1 }}</b> </h1>
                            <h3 class="h2">{{ mystore.subtitle1 }}</h3>
                            <p>{{ mystore.description1 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{ mystore.imageURL_2 }}" alt="image 02" loading="lazy">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">{{ mystore.title2 }}</h1>
                            <h3 class="h2">{{ mystore.subtitle2 }}</h3>
                            <p>{{ mystore.description2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{ mystore.imageURL_3 }}" alt="image 03" loading="lazy">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">{{ mystore.title3 }}</h1>
                            <h3 class="h2">{{ mystore.subtitle3 }}</h3>
                            <p>{{ mystore.description3 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->

<!-- Start Categories -->
<section class="container py-3">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories فئات </h1>
            <p>
                You can choose a category to do your shopping
            </p>
            <p>
                يمكنك إختيار الفئة التي تريد عمل مشترياتك
            </p>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
        <div class="col-12 col-md-3 p-3 mt-1 text-center">
            <a href="{% url 'shop' %}?cat_filter={{category.name}}"">
                <img src=" {{ category.image.url }}" alt="Img" class="rounded-circle img-fluid border"
                style="min-height: 150px; max-height: 150px;" loading="lazy">
            </a>
            <a class="text-decoration-none" href="{% url 'shop' %}?category={{category.name}}">
                <h5 class="mt-3 mb-3">{{ category.name }} <SMAll> ({{category.products.count}})</SMAll></h5>
            </a>
            <!-- <p class="text-center"><a href="{% url 'shop' %}?category={{category.name}}"
                    class="btn btn-success">Go Shop</a></p> -->
        </div>
        {% endfor %}
    </div>
</section>
<!-- End Categories -->

<!-- Start Product -->
<section class="py-5"> <!-- <section class="bg-light"></section> -->
    <div class="row text-center py-2 bg-light ">
        <div class="col-lg-9 m-auto">
            <h2>Products المنتجات</h2>
            <p> Our products that will impress you with their quality </p>
            <p> منتجاتنا التي ستبهرك بجودتها </p>
        </div>
    </div>
    <div class="container py-4">
        <br>
        <div class="row">
            {% for product in products %}
            <div class="col-12 col-md-3 mb-4">
                <div class="product-wap card rounded-0 m-2">
                    <div class="card rounded-0">
                        {% if product.is_new %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            New</span>
                        {% endif %}


                        <a href="{{product.get_absolute_url}}">
                            <img src="{{ product.imageURL }}" class="card-img-top p-2"
                                style="min-height: 300px; max-height: 300px;" alt="..." loading="lazy">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white"
                                            href="{% url 'add_to_wishlist' product.id %}"><i
                                                class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2"
                                            href="{{product.get_absolute_url}}"><i class="far fa-eye"></i></a></li>
                                    <!-- <li><a class="btn btn-success text-white mt-2" 
                                                    href="product_detail.html"><i
                                                    class="fas fa-cart-plus"></i></a></li> -->
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <!-- <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>  -->

                        </ul>
                        <a href="{{ product.get_absolute_url }}" class="h2 text-decoration-none text-dark">
                            <h5 class="card-title"> {{ product.name }}</h5>
                        </a>
                        <!-- <p class="card-text"> {{ product.description|truncatechars:30 }} </p> -->
                        <small>{{ product.created|naturaltime }}</small>

                        <div class="d-flex justify-content-between">
                            <!-- زر الاتصال -->
                            {% if product.user.profile.phone %}
                            <button type="button"
                                class="btn btn-link text-dark p-0 lh-1 align-baseline text-decoration-none"
                                data-bs-toggle="modal" data-bs-target="#phoneModal{{ product.id }}">
                                <i class="fa fa-phone"></i> Appeler
                            </button>
                            {% endif %}

                            <!-- Modal display product owner -->
                            <div class="modal fade" id="phoneModal{{ product.id }}" tabindex="-1"
                                aria-labelledby="phoneModalLabel{{ product.id }}" aria-hidden="true">

                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Header -->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="phoneModalLabel{{ product.id }}">
                                                {{ product.user.username }} - {{ product.user.product_set.count }}
                                                products
                                            </h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Seller Image -->
                                        <div class="text-center mt-3">

                                            {% if product.user.profile.imageURL %}
                                            <img src="{{ product.user.profile.imageURL }}" class="rounded-circle shadow"
                                                width="120" height="120" alt="{{ product.user.username }}"
                                                loading="lazy">
                                            {% else %}
                                            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                                                class="rounded-circle shadow" width="120" height="120">
                                            {% endif %}

                                        </div>

                                        <!-- Phone -->
                                        <div class="modal-body text-center">

                                            <h4 class="text-primary">
                                                {{ product.user_phone }}
                                            </h4>

                                        </div>

                                        <!-- Footer -->
                                        <div class="modal-footer justify-content-center">

                                            <button class="btn btn-secondary" data-bs-dismiss="modal">
                                                Fermer
                                            </button>

                                            {% if product.user.username %}
                                            <a class="btn btn-outline-primary"
                                                href="{% url 'store' product.user.username %}">
                                                <i class="fas fa-store me-2"></i>
                                                Visit {{ product.user.username }} Store
                                            </a>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="fw-bold text-success ms-auto">
                                {{ product.price|intcomma }} Da
                            </span>
                            <!-- / Modal display product owner -->
                        </div>
                        {% if request.user.is_superuser or request.user == product.user %}
                        <div class="mt-2 text-center border-top pt-2">
                            <a href="{% url 'update_product' product.slug %}"
                                class="btn btn-sm btn-warning py-0 px-1"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_product' product.slug %}" class="btn btn-sm btn-danger py-0 px-1"><i
                                    class="fas fa-trash"></i></a>
                            <a href="{% url 'manage_product_images' product.slug %}"
                                class="btn btn-sm btn-primary py-0 px-1"><i class="fas fa-images"></i></a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Product -->

<!-- Start Brands -->
<section class="py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Brands</h1>
                <p>List of brands factury</p>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center align-items-center flex-wrap gap-4">
                    {% for brand in brands %}
                    <div class="text-center px-3">
                        <a href="#"><img class="img-fluid brand-img" src="{{ brand.imageURL }}"
                                style="max-height: 80px;" loading="lazy"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->

{% endblock body %}