{% extends "app/base.html" %}
{% load static %}
{% load humanize %} <!-- لإستظهار وقت إضافة المنتج -->

{% block title %}
OubaidPhone | {{ product.name }}
{% endblock title %}

{% block body %}

<section class="container py-5">
    <div class="row">
        <!-- LEFT : GALLERY -->
        <div class="col-lg-7">
            <div class="card shadow-sm">
                {% if product.new %}
                <span class="badge bg-danger position-absolute m-3">
                    NEW
                </span>
                {% endif %}
                <img id="mainImage" src="{{ product.main_image }}" class="img-fluid rounded"
                    style="height:450px;object-fit:contain">
            </div>

            <!-- Display all images -->
            <div class="row mt-3">
                {% for img in product.images.all %}
                <div class="col-3 mb-2 position-relative">

                    <img src="{{ img.imageURL }}" class="img-fluid rounded border thumb"
                        style="height:150px;object-fit:cover;cursor:pointer">

                    {% if forloop.first %}
                    <span class="badge bg-primary position-absolute top-0 start-0 m-1">
                        Principal
                    </span>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
            <!-- /Display all images -->

        </div>
        <!-- RIGHT : PRODUCT INFO -->
        <div class="col-lg-5">
            <div class="card shadow-sm border-0 p-4 h-100">

                <!-- PRODUCT INFO -->
                <h2 class="mb-1 fw-bold">{{ product.name }}</h2>
                <h3 class="text-success mb-3 fw-semibold">
                    {{ product.price }} DA
                </h3>
                <hr>
                <p class="text-muted mb-3">
                    {{ product.description }}
                </p>
                <hr>

                <!-- SELLER INFO -->
                <div class="mb-3">
                    <strong class="d-block mb-2">{{ product.shop.user.username }}</strong>
                    <div class="d-flex justify-content-center gap-2 flex-wrap">

                        <a href="tel:{{ product.shop.user.profile.phone }}" class="btn btn-success flex-grow-1">
                            📞 {{ product.shop.user.profile.phone }}
                        </a>

                        <a class="btn btn-outline-primary flex-grow-1" href="{% url 'shop' product.shop.slug %}">
                            <i class="fas fa-store me-2"></i>
                            Visit my shop
                        </a>

                    </div>
                </div>

                <!-- ACTION BUTTONS -->
                <div class="d-grid gap-2">
                    <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-outline-danger">
                        ❤ Add to Wishlist
                    </a>

                    {% if request.user.is_superuser or request.user == product.user %}
                    <a href="{% url 'update_product' product.slug %}" class="btn btn-warning">
                        ✏️ Edit Product
                    </a>
                    <a href="{% url 'delete_product' product.slug %}" class="btn btn-danger">
                        🗑 Delete Product
                    </a>
                    <a href="{% url 'manage_product_images' product.slug %}" class="btn btn-primary">
                        🖼 Manage Images
                    </a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>


<!-- RELATED PRODUCTS -->

<section class="container py-5">
    <h4 class="mb-4">
        Similar Products
    </h4>
    <!-- <div class="row">
        {% for product in related_products %}
        <div class="col-md-3 mb-4">
            <div class="card product-card h-100 shadow-sm">
                <img src="{{ product.imageURL }}" class="card-img-top" style="height:200px;object-fit:cover">
                <div class="card-body">
                    <h6>
                        <a href="{{ product.get_absolute_url }}">
                            {{ product.name }}
                        </a>
                    </h6>
                    <p class="text-muted small">
                        {{ product.description|truncatechars:40 }}
                    </p>
                    <div class="d-flex justify-content-between">
                        <strong class="text-success">
                            {{ product.price }} Da
                        </strong>
                        <a href="{{ product.get_absolute_url }}">
                            View
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->

    <div class="row">

        {% for product in related_products %}
        <div class="col-md-3 mb-4">
            <div class="product-wap card rounded-0">
                <div class="card rounded-0">
                    {% if product.is_new %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        New
                    </span>
                    {% endif %}
                    <a href="{{product.get_absolute_url}}">
                        <img src="{{ product.main_image }}" class="card-img-top p-2"
                            style="min-height: 300px; max-height: 300px;" alt="..." loading="lazy">

                        <div
                            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            <ul class="list-unstyled">
                                <li><a class="btn btn-success text-white"
                                        href="{% url 'add_to_wishlist' product.id %}"><i class="far fa-heart"></i></a>
                                </li>
                                <li><a class="btn btn-success text-white mt-2" href="{{product.get_absolute_url}}"><i
                                            class="far fa-eye"></i></a>
                                </li>
                                <!-- <li><a class="btn btn-success text-white mt-2" href="product_detail.html"><i
                                                                                    class="fas fa-cart-plus"></i></a></li> -->
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled d-flex justify-content-between">
                        <!-- <li>
                                                                            <i class="text-warning fa fa-star"></i>
                                                                            <i class="text-warning fa fa-star"></i>
                                                                            <i class="text-warning fa fa-star"></i>
                                                                            <i class="text-muted fa fa-star"></i>
                                                                            <i class="text-muted fa fa-star"></i>
                                                                        </li>  -->

                    </ul>
                    <a href="{{product.get_absolute_url}}" class="h2 text-decoration-none text-dark">
                        <h5 class="card-title"> {{product.name}}
                            {% if product.featured_product %}
                            <span
                                class="position-absolute left-0  start-100 translate-middle badge rounded-pill bg-success">
                                Featured
                            </span> {% endif %}
                        </h5>
                    </a>
                    <!-- <p class="card-text">{{product.description|truncatechars:20}}</p> -->
                    <small>{{ product.created|naturaltime }}</small>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="fw-bold text-success ms-auto">
                            {{ product.price|intcomma }} Da
                        </span>
                    </div>
                    {% if request.user.is_superuser or request.user == store_user %}
                    <div class="mt-2 text-center border-top pt-2">
                        <a href="{% url 'update_product' product.slug %}" class="btn btn-sm btn-warning"><i
                                class="fas fa-edit"></i></a>
                        <a href="{% url 'delete_product' product.slug %}" class="btn btn-sm btn-danger"><i
                                class="fas fa-trash"></i></a>
                        <a href="{% url 'manage_product_images' product.slug %}" class="btn btn-sm btn-primary"><i
                                class="fas fa-images"></i></a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <!-- End products -->

</section>

<!-- / RELATED PRODUCTS -->

<!-- IMAGE SWITCH SCRIPT -->

<script>

    const thumbs = document.querySelectorAll(".thumb")
    const mainImage = document.getElementById("mainImage")

    thumbs.forEach(img => {

        img.addEventListener("click", function () {

            mainImage.src = this.src

        })

    })

</script>



{% endblock body %}