altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.0
api==0.0.7
arrow==1.3.0
asgiref==3.7.2
async-timeout==5.0.1
asyncgui==0.6.3
asynckivy==0.6.4
autoplay==0.5.0
autopy==4.0.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
certifi==2026.1.4
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.7
clitoo==1.0.2
colorama==0.4.6
colored==2.3.0
comtypes==1.1.14
cookiecutter==2.6.0
cryptography==45.0.5
customtkinter==5.2.2
darkdetect==0.8.0
DateTime==5.1
decorator==5.2.1
decouple==0.0.7
distlib==0.3.6
distro==1.9.0
dj-database-url==2.1.0
Django==5.0
django-appconf==1.0.5
django-cacheops==6.1
django-ckeditor==6.5.1
django-crispy-forms==2.3
django-environ==0.11.2
django-filter==24.3
django-imagekit==5.0.0
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-taggit==5.0.1
djangorestframework==3.15.2
docutils==0.22.4
env==0.1.0
fastapi==0.115.0
ffmpeg==1.4
ffpyplayer==4.5.3
filelock==3.9.1
filetype==1.2.0
flet==0.28.3
flet-cli==0.28.3
flet-desktop==0.28.3
fpdf==1.7.2
funcy==1.18
future==1.0.0
geocoder==1.38.1
gunicorn==21.2.0
h11==0.16.0
helper==2.5.0
heroku==0.1.4
httpcore==1.0.9
httpx==0.28.1
idna==3.11
Jinja2==3.1.4
jiter==0.12.0
jsonpatch==1.33
jsonpointer==3.0.0
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=033613238896799a6f7bb3fc451d2d8191515b3b8a0ea1e04682599b19dcf83e
langchain==1.0.8
langchain-core==1.1.0
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.2.9
langsmith==0.4.46
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
materialshapes==0.3
materialyoucolor==2.0.10
mdurl==0.1.2
MouseInfo==0.1.3
mysql-connector-python==9.3.0
nose==1.3.7
numpy==1.24.2
oauthlib==3.3.1
olefile==0.47
openai==2.8.1
opencv-contrib-python==4.11.0.86
opencv-python==4.7.0.72
opencv-python-headless==4.11.0.86
orjson==3.11.4
ormsgpack==1.12.0
packaging==23.2
pandas==2.3.3
peewee==3.16.2
pefile==2023.2.7
pilkit==3.0
Pillow==10.1.0
platformdirs==3.1.1
processcontroller==1.5.0
psycopg==3.1.16
psycopg-binary==3.1.16
psycopg2-binary==2.9.11
PyAudio==0.2.13
PyAutoGUI==0.9.54
pycairo==1.29.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstall==0.1.4
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.10.1
PyMsgBox==1.0.9
PyMySQL==1.1.1
pyperclip==1.9.0
pypiwin32==223
pypng==0.20220715.0
PyQt5Designer==5.14.1
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytokens==0.3.0
pyttsx3==2.90
pytweening==1.2.0
pytz==2022.7.1
pywebio==1.8.3
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==7.4.2
ratelim==0.1.6
redis==7.1.0
repath==0.9.0
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.1.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.4.1
SpeechRecognition==3.10.0
sqlparse==0.4.4
starlette==0.38.6
tenacity==9.1.2
text-unidecode==1.3
tk==0.1.0
tkintermapview==1.29
toml==0.10.2
tornado==6.4.1
tqdm==4.67.1
types-python-dateutil==2.9.0.20250708
typing_extensions==4.9.0
tzdata==2023.3
ua-parser==0.18.0
urllib3==2.6.3
user-agents==2.2.0
uvicorn==0.31.0
virtualenv==20.21.0
vonage==4.4.3
vonage-account==1.1.1
vonage-application==2.0.1
vonage-http-client==1.5.1
vonage-jwt==1.1.5
vonage-messages==1.5.0
vonage-network-auth==1.0.2
vonage-network-number-verification==1.0.2
vonage-network-sim-swap==1.1.2
vonage-number-insight==1.0.7
vonage-numbers==1.0.4
vonage-sms==1.1.6
vonage-subaccounts==1.0.4
vonage-users==1.2.1
vonage-utils==1.1.4
vonage-verify==2.1.0
vonage-verify-legacy==1.0.1
vonage-video==1.2.0
vonage-voice==1.4.0
waitress==3.0.2
watchdog==4.0.2
whitenoise==6.6.0
xxhash==3.6.0
zope.interface==5.5.2
zstandard==0.25.0
